@media screen and (max-width: 959px) {
  #wrap #index-news {
    width: 100%;
  }
  #wrap #index-news ul.news-list li.news-item {
    width: 50%;
  }
  #wrap #index-news ul.news-list li.news-item:nth-child(3n-1) {
    margin: 0;
    margin-bottom: 30px;
  }
  #wrap #game-info {
    width: 100%;
  }
  #wrap #game-info ul.info-list li.info-item {
    width: 49.5%;
  }
  #wrap #game-info ul.info-list li.info-item:nth-child(1) {
    margin-right: 1%;
  }
  #wrap #champion-rotation {
    width: 100%;
  }
  #wrap #champion-rotation ul.champion-list li.champion-item {
    float: left;
    width: 9.09091%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-right: 1.0101%;
    margin-bottom: 30px;
    background-color: green;
  }
  #wrap #champion-rotation ul.champion-list li.champion-item:nth-last-child(1) {
    margin-right: 0;
  }
}
