html, body {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "proxima_nova_rgregular", "Noto Sans Korean", Arial, sans-serif;
  color: #444; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  float: left; }

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both; }

.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.green {
  color: #16a085; }

a {
  cursor: pointer; }
